<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<div class="col-12 mb-4" th:fragment="alert-registration-confirmation">
    <div class="alert alert-success d-flex flex-row align-items-center" role="alert">
        <i class="fas fa-info-circle" style="font-size: 2.5rem; padding-right: 20px;"></i>
        <span>
            We hebben de volgende gegevens van je ontvangen. Controleer je gegevens en gebruik de knop 'registratie
            voltooien' om deze te bevestigen, of gebruik het formulier hieronder om eventuele fouten te herstellen. Het
            wachtwoord wordt om veiligheidsredenen niet getoond. Registratie is alleen voor beschermingsdoeleinden.
        </span>
    </div>
</div>

<div class="col-12 mb-4" th:fragment="alert-registration-confirmation-has-errors">
    <div class="alert alert-danger d-flex flex-row align-items-center" role="alert">
        <i class="fas fa-exclamation-triangle" style="font-size: 2.5rem; padding-right: 20px;"></i>
        <span>
            <strong>Er is iets misgegaan bij het versturen van het formulier. Probeer het nog eens.</strong> Als de fout
            zich blijft voordoen, neem dan contact op met onze <a href="#">klantenservice</a>.
        </span>
    </div>
</div>

</html>