<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<form action="#" class="row needs-validation" id="form_private" method="post" novalidate
      th:action="@{/registratie}" th:fragment="form-registration"
      th:object="${RegistrationDto}">
    <div class="col-md-12 mt-2 mb-3">
        <h4 class="border border-dark border-w-2 rounded p-3">Persoonlijke gegevens</h4>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 form-group">
        <label for="initials">Voorletters</label>
        <input class="form-control" id="initials" maxlength="15"
               name="initials" pattern="^([\s.]|[a-zA-Z0-9]|[À-Ö]|[Ø-ö]|[ø-ǿ]|[Ȁ-ʯ]|[̀-ͯ]|[Ḁ-ỿ]|[Ⅰ-ↈ])+$"
               patternMismatch="Gebruik alleen hoofdletters, punten of spaties." required
               th:field="*{initials}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-6 form-group">
        <label for="firstname">Voornaam</label>
        <input class="form-control" id="firstname" maxlength="25"
               name="firstName" pattern="^([-\s]|[a-zA-Z0-9]|[À-Ö]|[Ø-ö]|[ø-ǿ]|[Ȁ-ʯ]|[̀-ͯ]|[Ḁ-ỿ]|[Ⅰ-ↈ])+$"
               patternMismatch="Gebruik alleen hoofdletters, kleine letters, streepjes of spaties."
               required th:field="*{firstName}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 form-group">
        <label for="preposition">Tussenvoegsel</label>
        <input class="form-control" id="preposition" maxlength="15"
               name="preposition" pattern="^([-.\s]|[a-zA-Z0-9]|[À-Ö]|[Ø-ö]|[ø-ǿ]|[Ȁ-ʯ]|[̀-ͯ]|[Ḁ-ỿ]|[Ⅰ-ↈ])*$"
               patternMismatch="Gebruik alleen hoofdletters, kleine letters, streepjes, spaties of punten."
               th:field="*{preposition}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-8 form-group">
        <label for="lastname">Achternaam</label>
        <input class="form-control" id="lastname" maxlength="45" name="surName"
               pattern="^([-.\s]|[a-zA-Z0-9]|[À-Ö]|[Ø-ö]|[ø-ǿ]|[Ȁ-ʯ]|[̀-ͯ]|[Ḁ-ỿ]|[Ⅰ-ↈ])+$"
               patternMismatch="Gebruik alleen hoofdletters, kleine letters, streepjes, spaties of punten."
               required th:field="*{surName}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8 form-group">
        <label for="email">Emailadres</label>
        <input class="form-control" id="email" maxlength="45" name="email" required th:field="*{email}" type="email"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 form-group">
        <label for="mobile">Telefoon (mobiel)</label>
        <input class="form-control" id="mobile" maxlength="11" name="phone" pattern="^[06]{2}-[0-9]{8}$"
               patternMismatch="Format: 06-12345678" required th:field="*{phone}" type="tel"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-12 mt-5 mb-3">
        <h4 class="border border-dark border-w-2 rounded p-3">Adresgegevens</h4>
    </div>
    <div class="col-md-2 form-group">
        <label for="postalCode">Postcode</label>
        <input class="form-control" id="postalCode" maxlength="7" minlength="6" name="postalCode"
               pattern="^[1-9][0-9]{3}[\s]?[A-Za-z]{2}$" patternMismatch="Ongeldige postcode." required
               th:field="*{postalCode}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-2 form-group">
        <label for="homeNumber">Huisnr.</label>
        <input class="form-control" id="homeNumber" maxlength="10" name="homeNumber" pattern="([-.,&_`() ]|[A-z0-9])+"
               patternMismatch="Ongeldig huisnummer." required th:field="*{homeNumber}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-4 form-group">
        <label for="street">Straat</label>
        <input class="form-control" id="street" maxlength="45" name="street"
               pattern="^([-.\s]|[a-zA-Z0-9]|[À-Ö]|[Ø-ö]|[ø-ǿ]|[Ȁ-ʯ]|[̀-ͯ]|[Ḁ-ỿ]|[Ⅰ-ↈ])+$"
               patternMismatch="Ongeldige straatnaam." required th:field="*{street}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-4 form-group">
        <label for="residence">Woonplaats</label>
        <input class="form-control" id="residence" maxlength="45" name="residence"
               pattern="^([-.\s]|[a-zA-Z0-9]|[À-Ö]|[Ø-ö]|[ø-ǿ]|[Ȁ-ʯ]|[̀-ͯ]|[Ḁ-ỿ]|[Ⅰ-ↈ])+$"
               patternMismatch="Ongeldige plaatsnaam." required th:field="*{residence}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-12 mt-5 mb-3">
        <h4 class="border border-dark border-w-2 rounded p-3">Accountgegevens</h4>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 form-group">
        <label for="username_private">Gebruikersnaam</label>
        <input class="form-control" id="username_private" maxlength="16" minlength="4" name="userName"
               pattern="^[A-Za-z0-9_]+$" patternMismatch="Alleen hoofdletters, kleine letters, cijfers  of underscore."
               required th:field="*{userName}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 form-group">
        <label for="password_private">Wachtwoord</label>
        <input class="form-control" id="password_private" matchField="passwordConfirmation" maxlength="16" minlength="6"
               name="password" noMatchMessage="Wachtwoorden komen niet overeen."
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]*$"
               patternMismatch="Gebruik minimaal één hoofdletter, kleine letter, cijfer en speciaal teken."
               required th:field="*{password}" type="password"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 form-group">
        <label for="password_private_confirmation">Bevestig wachtwoord</label>
        <input class="form-control" id="password_private_confirmation" matchField="password" maxlength="16"
               minlength="6" name="passwordConfirmation" noMatchMessage="Wachtwoorden komen niet overeen."
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]*$"
               patternMismatch="Gebruik minimaal één hoofdletter, kleine letter, cijfer en speciaal teken."
               required th:field="*{passwordConfirmation}" type="password"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-12 mt-3">
        <div class="col-md-4 pl-0">
            <input class="btn btn-primary btn-lg btn-block mt-4 mb-4 pt-3 pb-3"
                   type="submit"
                   value="Bevestigen"/>
        </div>
    </div>
</form>

<form action="#" class="row" method="post" th:action="@{/bevestiging}"
      th:fragment="form-confirmation-private-hidden" th:object="${RegistrationDto}">
    <input th:field="*{initials}" type="hidden">
    <input th:field="*{firstName}" type="hidden">
    <input th:field="*{preposition}" type="hidden">
    <input th:field="*{surName}" type="hidden">
    <input th:field="*{dateOfBirth}" type="hidden">
    <input th:field="*{socialSecurityNumber}" type="hidden">
    <input th:field="*{email}" type="hidden">
    <input th:field="*{phone}" type="hidden">
    <input th:field="*{postalCode}" type="hidden">
    <input th:field="*{homeNumber}" type="hidden">
    <input th:field="*{street}" type="hidden">
    <input th:field="*{residence}" type="hidden">
    <input th:field="*{userName}" type="hidden">
    <input th:field="*{password}" type="hidden">
    <input th:field="*{passwordConfirmation}" type="hidden">
    <input class="btn btn-primary btn-lg btn-block mt-0 ml-3 mb-4 mr-2 pt-3 pb-3 " type="submit"
           value="Registratie voltooien"/>
</form>
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<form action="#" class="row needs-validation" id="form_private" method="post" novalidate
      th:action="@{/registratie}" th:fragment="form-registration"
      th:object="${RegistrationDto}">
    <div class="col-md-12 mt-2 mb-3">
        <h4 class="border border-dark border-w-2 rounded p-3">Persoonlijke gegevens</h4>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 form-group">
        <label for="initials">Voorletters</label>
        <input class="form-control" id="initials" maxlength="15"
               name="initials" pattern="^([\s.]|[a-zA-Z0-9]|[À-Ö]|[Ø-ö]|[ø-ǿ]|[Ȁ-ʯ]|[̀-ͯ]|[Ḁ-ỿ]|[Ⅰ-ↈ])+$"
               patternMismatch="Gebruik alleen hoofdletters, punten of spaties." required
               th:field="*{initials}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-6 form-group">
        <label for="firstname">Voornaam</label>
        <input class="form-control" id="firstname" maxlength="25"
               name="firstName" pattern="^([-\s]|[a-zA-Z0-9]|[À-Ö]|[Ø-ö]|[ø-ǿ]|[Ȁ-ʯ]|[̀-ͯ]|[Ḁ-ỿ]|[Ⅰ-ↈ])+$"
               patternMismatch="Gebruik alleen hoofdletters, kleine letters, streepjes of spaties."
               required th:field="*{firstName}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 form-group">
        <label for="preposition">Tussenvoegsel</label>
        <input class="form-control" id="preposition" maxlength="15"
               name="preposition" pattern="^([-.\s]|[a-zA-Z0-9]|[À-Ö]|[Ø-ö]|[ø-ǿ]|[Ȁ-ʯ]|[̀-ͯ]|[Ḁ-ỿ]|[Ⅰ-ↈ])*$"
               patternMismatch="Gebruik alleen hoofdletters, kleine letters, streepjes, spaties of punten."
               th:field="*{preposition}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-8 form-group">
        <label for="lastname">Achternaam</label>
        <input class="form-control" id="lastname" maxlength="45" name="surName"
               pattern="^([-.\s]|[a-zA-Z0-9]|[À-Ö]|[Ø-ö]|[ø-ǿ]|[Ȁ-ʯ]|[̀-ͯ]|[Ḁ-ỿ]|[Ⅰ-ↈ])+$"
               patternMismatch="Gebruik alleen hoofdletters, kleine letters, streepjes, spaties of punten."
               required th:field="*{surName}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8 form-group">
        <label for="email">Emailadres</label>
        <input class="form-control" id="email" maxlength="45" name="email" required th:field="*{email}" type="email"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 form-group">
        <label for="mobile">Telefoon (mobiel)</label>
        <input class="form-control" id="mobile" maxlength="11" name="phone" pattern="^[06]{2}-[0-9]{8}$"
               patternMismatch="Format: 06-12345678" required th:field="*{phone}" type="tel"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-12 mt-5 mb-3">
        <h4 class="border border-dark border-w-2 rounded p-3">Adresgegevens</h4>
    </div>
    <div class="col-md-2 form-group">
        <label for="postalCode">Postcode</label>
        <input class="form-control" id="postalCode" maxlength="7" minlength="6" name="postalCode"
               pattern="^[1-9][0-9]{3}[\s]?[A-Za-z]{2}$" patternMismatch="Ongeldige postcode." required
               th:field="*{postalCode}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-2 form-group">
        <label for="homeNumber">Huisnr.</label>
        <input class="form-control" id="homeNumber" maxlength="10" name="homeNumber" pattern="([-.,&_`() ]|[A-z0-9])+"
               patternMismatch="Ongeldig huisnummer." required th:field="*{homeNumber}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-4 form-group">
        <label for="street">Straat</label>
        <input class="form-control" id="street" maxlength="45" name="street"
               pattern="^([-.\s]|[a-zA-Z0-9]|[À-Ö]|[Ø-ö]|[ø-ǿ]|[Ȁ-ʯ]|[̀-ͯ]|[Ḁ-ỿ]|[Ⅰ-ↈ])+$"
               patternMismatch="Ongeldige straatnaam." required th:field="*{street}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-4 form-group">
        <label for="residence">Woonplaats</label>
        <input class="form-control" id="residence" maxlength="45" name="residence"
               pattern="^([-.\s]|[a-zA-Z0-9]|[À-Ö]|[Ø-ö]|[ø-ǿ]|[Ȁ-ʯ]|[̀-ͯ]|[Ḁ-ỿ]|[Ⅰ-ↈ])+$"
               patternMismatch="Ongeldige plaatsnaam." required th:field="*{residence}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-12 mt-5 mb-3">
        <h4 class="border border-dark border-w-2 rounded p-3">Accountgegevens</h4>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 form-group">
        <label for="username_private">Gebruikersnaam</label>
        <input class="form-control" id="username_private" maxlength="16" minlength="4" name="userName"
               pattern="^[A-Za-z0-9_]+$" patternMismatch="Alleen hoofdletters, kleine letters, cijfers  of underscore."
               required th:field="*{userName}" type="text"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 form-group">
        <label for="password_private">Wachtwoord</label>
        <input class="form-control" id="password_private" matchField="passwordConfirmation" maxlength="16" minlength="6"
               name="password" noMatchMessage="Wachtwoorden komen niet overeen."
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]*$"
               patternMismatch="Gebruik minimaal één hoofdletter, kleine letter, cijfer en speciaal teken."
               required th:field="*{password}" type="password"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 form-group">
        <label for="password_private_confirmation">Bevestig wachtwoord</label>
        <input class="form-control" id="password_private_confirmation" matchField="password" maxlength="16"
               minlength="6" name="passwordConfirmation" noMatchMessage="Wachtwoorden komen niet overeen."
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]*$"
               patternMismatch="Gebruik minimaal één hoofdletter, kleine letter, cijfer en speciaal teken."
               required th:field="*{passwordConfirmation}" type="password"/>
        <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-12 mt-3">
        <div class="col-md-4 pl-0">
            <input class="btn btn-primary btn-lg btn-block mt-4 mb-4 pt-3 pb-3"
                   type="submit"
                   value="Bevestigen"/>
        </div>
    </div>
</form>

<form action="#" class="row" method="post" th:action="@{/bevestiging}"
      th:fragment="form-confirmation-private-hidden" th:object="${RegistrationDto}">
    <input th:field="*{initials}" type="hidden">
    <input th:field="*{firstName}" type="hidden">
    <input th:field="*{preposition}" type="hidden">
    <input th:field="*{surName}" type="hidden">
    <input th:field="*{dateOfBirth}" type="hidden">
    <input th:field="*{socialSecurityNumber}" type="hidden">
    <input th:field="*{email}" type="hidden">
    <input th:field="*{phone}" type="hidden">
    <input th:field="*{postalCode}" type="hidden">
    <input th:field="*{homeNumber}" type="hidden">
    <input th:field="*{street}" type="hidden">
    <input th:field="*{residence}" type="hidden">
    <input th:field="*{userName}" type="hidden">
    <input th:field="*{password}" type="hidden">
    <input th:field="*{passwordConfirmation}" type="hidden">
    <input class="btn btn-primary btn-lg btn-block mt-0 ml-3 mb-4 mr-2 pt-3 pb-3 " type="submit"
           value="Registratie voltooien"/>
</form>

</html>
</html>