<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head-default (pageTitle, metaRobots, metaDescription, metaKeywords)">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title th:text="${pageTitle}">Head</title>
    <meta name="robots" th:content="${metaRobots}"/>
    <meta name="description" th:content="${metaDescription}"/>
    <meta name="keywords" th:content="${metaKeywords}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/acc6e38b93.js" crossorigin="anonymous"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<head th:fragment="head-employeeDashboard">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/acc6e38b93.js" crossorigin="anonymous"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>

<head th:fragment="head-login">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/acc6e38b93.js" crossorigin="anonymous"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="/js/form-validation.js"></script>
    <script defer src="/js/login.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>

<head th:fragment="head-registration (pageTitle, metaRobots, metaDescription, metaKeywords)">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title th:text="${pageTitle}">Head</title>
    <meta name="robots" th:content="${metaRobots}"/>
    <meta name="description" th:content="${metaDescription}"/>
    <meta name="keywords" th:content="${metaKeywords}"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="/css/styles.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/acc6e38b93.js"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="/js/form-validation.js"></script>
    <script defer src="/js/registration.js"></script>
</head>

<head th:fragment="head-transaction-do (pageTitle, metaRobots, metaDescription, metaKeywords)">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title th:text="${pageTitle}">Head</title>
    <meta name="robots" th:content="${metaRobots}"/>
    <meta name="description" th:content="${metaDescription}"/>
    <meta name="keywords" th:content="${metaKeywords}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/acc6e38b93.js" crossorigin="anonymous"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="/js/load-customer-names.js"></script>
    <script defer src="/js/do-transaction.js"></script>
</head>

<head th:fragment="head-transaction-confirm (pageTitle, metaRobots, metaDescription, metaKeywords)">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title th:text="${pageTitle}">Head</title>
    <meta name="robots" th:content="${metaRobots}"/>
    <meta name="description" th:content="${metaDescription}"/>
    <meta name="keywords" th:content="${metaKeywords}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/acc6e38b93.js" crossorigin="anonymous"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="/js/load-customer-names.js"></script>
    <script defer src="/js/confirm-transaction.js"></script>
</head>

<head th:fragment="head-openAccount (pageTitle, metaRobots, metaDescription, metaKeywords)">
    <meta charset="UTF-8"/>
    <title th:text="${pageTitle}">Head</title>
    <meta name="robots" th:content="${metaRobots}"/>
    <meta name="description" th:content="${metaDescription}"/>
    <meta name="keywords" th:content="${metaKeywords}"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/acc6e38b93.js" crossorigin="anonymous"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="/js/openAccount.js"></script>
</head>

<head th:fragment="head-account_details (pageTitle, metaRobots, metaDescription, metaKeywords)">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title th:text="${pageTitle}">Head</title>
    <meta name="robots" th:content="${metaRobots}"/>
    <meta name="description" th:content="${metaDescription}"/>
    <meta name="keywords" th:content="${metaKeywords}"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="/css/styles.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/acc6e38b93.js"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="/js/form-validation.js"></script>
    <script defer src="/js/registration.js"></script>
</head>

<head th:fragment="head-accounts (pageTitle, metaRobots, metaDescription, metaKeywords)">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title th:text="${pageTitle}">Head</title>
    <meta name="robots" th:content="${metaRobots}"/>
    <meta name="description" th:content="${metaDescription}"/>
    <meta name="keywords" th:content="${metaKeywords}"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="/css/styles.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/acc6e38b93.js"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script defer src="/js/form-validation.js"></script>
    <script defer src="/js/registration.js"></script>
</head>

</html>