<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<body>
<header class="header min-vw-100 navbar-light bg-light" id="header-main" th:fragment="header-home">
    <div class="container pl-0 pr-0">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <img src="/images/DROVN2.svg" width="150" height="150"
                     class="d-inline-block align-top" alt="">

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProducten" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Producten
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownProducten">
                            <a class="dropdown-item" href="#">Product 1</a>
                            <a class="dropdown-item" href="#">Product 2</a>
                            <a class="dropdown-item" href="#">Product 3</a>
                            <a class="dropdown-item" href="#">Product 4</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown"
                        th:classappend="| ${#httpServletRequest.getRequestURI() == '/registratie' ? 'active':''} ${#httpServletRequest.getRequestURI() == '/login' ? 'active':''} |">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownService" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Service
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownService">
                            <a class="dropdown-item"
                               th:classappend="${#httpServletRequest.getRequestURI() == '/registreerparticulier' ? 'active':''}"
                               href="/registreerparticulier">Klant worden - Particulier</a>
                            <a class="dropdown-item"
                               th:classappend="${#httpServletRequest.getRequestURI() == '/registreerzakelijk' ? 'active':''}"
                               href="/registreerparticulier">Klant worden - Zakelijk</a>
                            <a class="dropdown-item" href="#">Account aanmaken</a>
                            <a class="dropdown-item" href="#">Rekening openen</a>
                            <a class="dropdown-item"
                               th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}"
                               href="/login">Inloggen</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Contact</a>
                        </div>
                    </li>
                </ul>
                <div class="container pl-0 pr-0">
                    <div class="col-12 d-flex flex-row align-items-lg-end justify-content-lg-end">
                        <a class="btn btn-primary mr-2" href="/registratie">Klant worden</a>
                        <a class="btn btn-outline-primary mr-2" href="/login">Inloggen</a>
                    </div>
                </div>
                <!--<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>-->
            </div>
        </nav>
    </div>
</header>

<header class="header min-vw-100 navbar-light bg-light" id="header-main" th:fragment="header-default">
    <div class="container pl-0 pr-0">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <img src="/images/DROVN2.svg" width="150" height="150"
                     class="d-inline-block align-top" alt="">

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProducten" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Producten
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownProducten">
                            <a class="dropdown-item" href="#">Product 1</a>
                            <a class="dropdown-item" href="#">Product 2</a>
                            <a class="dropdown-item" href="#">Product 3</a>
                            <a class="dropdown-item" href="#">Product 4</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown"
                        th:classappend="| ${#httpServletRequest.getRequestURI() == '/registratie' ? 'active':''} ${#httpServletRequest.getRequestURI() == '/login' ? 'active':''} |">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownService" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Service
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownService">
                            <a class="dropdown-item"
                               th:classappend="${#httpServletRequest.getRequestURI() == '/registreerparticulier' ? 'active':''}"
                               href="/registreerparticulier">Klant worden - Particulier</a>
                            <a class="dropdown-item"
                               th:classappend="${#httpServletRequest.getRequestURI() == '/registreerzakelijk' ? 'active':''}"
                               href="/registreerparticulier">Klant worden - Zakelijk</a>
                            <a class="dropdown-item" href="#">Account aanmaken</a>
                            <a class="dropdown-item" href="#">Rekening openen</a>
                            <a class="dropdown-item"
                               th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}"
                               href="/login">Inloggen</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Contact</a>
                        </div>
                    </li>
                </ul>
                <div class="container pl-0 pr-0">
                    <div class="col-12 d-flex flex-row align-items-lg-end justify-content-lg-end">
                        <a class="btn btn-primary mr-2" th:href="@{openaccount}">Rekening Openen</a>
                        <a class="btn btn-outline-primary mr-2" href="/">Uitloggen</a>
                    </div>
                </div>
                <!--<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>-->
            </div>
        </nav>
    </div>
</header>

<header class="header" id="header-login" th:fragment="header-login">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com//docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            Bootstrap
        </a>
    </nav>
</header>

<header class="header" id="head-employeeDashboard" th:fragment="head-employeeDashboard">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <a class="navbar-brand">
            <img src="images/DROVN BANK_1-02.png" width="70" height="70"
                 class="d-inline-block align-top" alt=""></a>
    <div class="container pl-0 pr-0">
        <div class="col-12 d-flex flex-row align-items-lg-end justify-content-lg-end">
            <a class="btn btn-outline-primary float-right" id="uitloggenemployee" href="/loginemployee">Uitloggen</a>
        </div>
    </div>
    </nav>
</header>

</body>
</html>