<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div class="container pt-5" th:fragment="content-home">
    <div class="row">
        <div class="col-md-4">
            <h2 style="color: #F39200">Samen uw bankzaken regelen</h2>
            <p style="color: #312783">Met uw gezamenlijke rekening regelt u makkelijk uw dagelijkse bankzaken.
                Bijvoorbeeld het aanpassen van uw betaallimiet. Online is het zo geregeld!</p>
            <p><a class="btn btn-outline-primary btn-block" href="#" role="button">Online bankzaken regelen »</a></p>
        </div>
        <div class="col-md-4">
            <h2 style="color: #F39200">Uw bankzaken zo geregeld</h2>
            <p style="color: #312783">Bellen om uw pas te deblokkeren? Of om een schade te melden? Dat is helemaal niet meer
                nodig. In de DROVN app of in Internet Bankieren regelt u alledaagse bankzaken simpel zelf.</p>
            <p><a class="btn btn-outline-primary btn-block" href="#" role="button">Regel het simpel zelf »</a></p>
        </div>
        <div class="col-md-4">
            <h2 style="color: #F39200">Regel uw bankzaken online</h2>
            <p style="color: #312783">Wilt u uw betaallimiet wijzigen of uw pas blokkeren? Dit soort bankzaken regelt u zelf gewoon
                online. Wel zo makkelijk.</p>
            <br>
            <p><a class="btn btn-outline-primary btn-block" href="#" role="button">Direct online regelen »</a></p>
        </div>
    </div>
</div>

<div class="container pt-5" th:fragment="content-registration">
    <div class="row">
        <div class="col-md-12">
            <div id="values"></div>
        </div>
        <div class="col-md-12">
            <button aria-controls="collapseOne" aria-expanded="true"
                    class="btn btn-outline-primary rounded-3 pt-3 pb-3 pl-5 pr-5 active"
                    data-target="#collapseOne" data-toggle="collapse"
                    id="private">
                Particuliere Klant
            </button>
            <button aria-controls="collapseTwo" aria-expanded="false"
                    class="btn btn-outline-primary rounded-3 pt-3 pb-3 pl-5 pr-5 collapsed"
                    data-target="#collapseTwo" data-toggle="collapse"
                    id="legal">
                Zakelijke Klant
            </button>
            <div class="pt-5 pb-5" id="accordion">
                <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion"
                     id="collapseOne">
                    <form th:replace="fragments/form :: form-registration-private"></form>
                </div>
                <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion"
                     id="collapseTwo">
                    <form th:replace="fragments/form :: form-registration-business"></form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container" th:fragment="content-confirmation-business-no-errors">
    <div class="row">
        <div class="col-12 mb-4">
            <div th:replace="fragments/alert :: alert-registration-confirmation"></div>
        </div>
        <div class="col-md-6 table-responsive-md">
            <table th:replace="fragments/table :: table-confirmation-business-details"></table>
            <table th:replace="fragments/table :: table-confirmation-business-account"></table>
        </div>
        <div class="col-md-6 table-responsive-md">
            <table th:replace="fragments/table :: table-confirmation-business-address"></table>
            <form th:replace="fragments/form :: form-confirmation-business-hidden"></form>
        </div>
    </div>
    <div class="pt-5 pb-5" id="accordion">
        <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion"
             id="collapseOne">
            <form th:replace="fragments/form :: form-registration-business"></form>
        </div>
    </div>
</div>

<div class="container" th:fragment="content-confirmation-private-no-errors">
    <div class="row">
        <div class="col-12 mb-4" th:include="fragments/alert :: alert-registration-confirmation"></div>
        <div class="col-md-6 table-responsive-md">
            <table th:replace="fragments/table :: table-confirmation-private-details"></table>
        </div>
        <div class="col-md-6 table-responsive-md">
            <table th:replace="fragments/table :: table-confirmation-private-address"></table>
            <table th:replace="fragments/table :: table-confirmation-private-account"></table>
            <form th:replace="fragments/form :: form-confirmation-private-hidden"></form>
        </div>
    </div>
    <div class="pt-5 pb-5" id="accordion">
        <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion"
             id="collapseOne">
            <form th:replace="fragments/form :: form-registration-private"></form>
        </div>
    </div>
</div>

<div class="container" th:fragment="content-confirmation-private-with-errors">
    <div class="row">
        <div class="col-12 mb-4" th:include="fragments/alert :: alert-registration-confirmation-has-errors"></div>
    </div>
    <div class="pt-1 pb-5" id="accordion">
        <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion"
             id="collapseOne">
            <form th:replace="fragments/form :: form-registration-private"></form>
        </div>
    </div>
</div>

<div class="container" th:fragment="content-confirmation-business-with-errors">
    <div class="row">
        <div class="col-12 mb-4" th:include="fragments/alert :: alert-registration-confirmation-has-errors"></div>
    </div>
    <div class="pt-1 pb-5" id="accordion">
        <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion"
             id="collapseOne">
            <form th:replace="fragments/form :: form-registration-business"></form>
        </div>
    </div>
</div>
<div class="container pt-5" th:fragment="content-mutations">
    <div class="row">
        <div class="col-md-4">
            <p action="#" method="get" th:action="@{/do-transaction/}" th:object="${customerWithAccountOverview}">
                <a class="btn btn-primary btn-lg btn-block" style="font-size: 125%; width: 100%" th:href="@{/do-transaction/}" role="button"
                >Geld overboeken »</a></p>
            <p action="#" method="post" th:action="@{/customer-with-accounts}" th:object="${customerWithAccountOverview}">
                <a class="btn btn-primary btn-lg btn-block" style="font-size: 125%; width: 100%" th:href="@{/customer-with-accounts}" role="button"
                >« Terug naar Rekeningoverzicht</a></p>
            </p>
        </div>

        <div class="col-md-8">

            <div class="container pt-0">
                <div th:if="${account.getTransactions().isEmpty()}">
                    <p style="font-size: 200%; color: #F39200" align="center"
                    >Er zijn geen bij- en/of afschrijvingen om weer te geven.</p>
                </div>
            </div>


            <div class="container pt-0" >

                <div th:each="entry, stat : ${accountWithTransactionsBydate}">

                <div class="card"  th:text="${entry.key}">
                    th:each="transaction : ${entry.value}"
                    th:text="${accountWithTransactions}"

                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="false">

                    <!-- Accordion card -->
                    <div class="card"  style="border-color: #312783;border-width: medium
                         ;background-color: white" >

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="transaction" th:each="{entry.value}" th:text="${value}">

                            <a data-toggle="collapse" href="#collapse" aria-expanded="false"
                               aria-controls="collapseOne1">
                                <h4>
                                <i class="fas fa-angle-down rotate-icon; float-right" style="color: #F39200"></i>
                                </h4>
                                <h5>
                                    <dl class="row">
                                        <dt class="col-md-10" style="color: #312783" th:each="name : ${t.getContraAccountHolderNames()}" th:text="${name}" ></dt>
                                        <dd class="col-md-2; float-md-right" style="color: #312783" th:each="amount :${t.showAmount}"th:text="${amount}"></dd>
                                    </dl>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse" class="collapse hide" role="tabpanel" aria-labelledby="heading">
                            <div class="card-body" style="background-color: rgba(243, 146, 0, 0.2)">
                                <p style="color: #312783" th:text="${t.showTransactionDetails()}"></p>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                </div>
                <!-- Accordion wrapper -->
               <br>

                </div>
            </div>

            </div>

        </div>

    </div>
</div>

<!--<div class="container pt-5" th:fragment="content-account-overview">-->
<!--    <div class="row">-->
<!--        <div class="col-md-4">-->
<!--            <p action="#" method="get" th:action="@{/do-transaction/}" th:object="${customerWithAccountOverview}">-->
<!--                <a class="btn btn-primary btn-lg btn-block" style="font-size: 125%; width: 100%" th:href="@{/do-transaction/}" role="button"-->
<!--                >Geld overboeken »</a></p>-->
<!--            <p action="#" method="post" th:action="@{/customer-with-accounts}" th:object="${customerWithAccountOverview}">-->
<!--                <a class="btn btn-primary btn-lg btn-block" style="font-size: 125%; width: 100%" th:href="@{/customer-with-accounts}" role="button"-->
<!--                >« Terug naar de Homepagina</a></p>-->
<!--            </p>-->
<!--        </div>-->



<!--        <div class="col-md-8">-->

<!--            <div class="container pt-0" style="border-color: #312783; border-width: medium;-->
<!--                        background-color: white">-->
<!--                <p style="font-size: 125%" align="center" th:if="${account.getTransactions().isEmpty(}">-->
<!--                Er zijn geen bij- en afschrijvingen om weer te geven</p>-->

<!--            <div class="container pt-0" style="border-color: #312783;border-width: medium;-->
<!--                         background-color: white"  th:unless="${account.getTransactions().isEmpty()}"-->
<!--                 th:object="${account}">-->

<!--                &lt;!&ndash;Accordion wrapper&ndash;&gt;-->
<!--                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="false" th:each="t : ${account.getTransactions}" >-->

<!--                    &lt;!&ndash; Accordion card &ndash;&gt;-->
<!--                    <div class="card"  style="border-color: #312783;border-width: medium-->
<!--                         ;background-color: white" th:each="date :${t.showDate}">-->

<!--                        &lt;!&ndash; Card header &ndash;&gt;-->
<!--                        <div class="card-header" role="tab" id="transaction" >-->
<!--                            <a data-toggle="collapse" href="#collapse" aria-expanded="false"-->
<!--                               aria-controls="collapseOne1">-->
<!--                                <h4> <span class="mb-0" style="color: #F39200"  th:text="${date}">Datum></span>-->
<!--                                    <i class="fas fa-angle-down rotate-icon; float-right" style="color: #F39200"></i>-->
<!--                                </h4>-->
<!--                                <h5>-->
<!--                                    <dl class="row">-->
<!--                                        <dt class="col-md-10" style="color: #312783" th:each="name : ${t.getContraAccountHolderNames()}" th:text="${name}" ></dt>-->
<!--                                        <dd class="col-md-2; float-md-right" style="color: #312783" th:each="amount :${t.showAmount}"th:text="${amount}"></dd>-->
<!--                                    </dl>-->
<!--                                </h5>-->
<!--                            </a>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Card body &ndash;&gt;-->
<!--                        <div id="collapse" class="collapse hide" role="tabpanel" aria-labelledby="heading">-->
<!--                            <div class="card-body" style="background-color: rgba(243, 146, 0, 0.2)">-->
<!--                                <p style="color: #312783" th:text="${t.showTransactionDetails()}"></p>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    &lt;!&ndash; Accordion card &ndash;&gt;-->

<!--                </div>-->
<!--                &lt;!&ndash; Accordion wrapper &ndash;&gt;-->
<!--                <br>-->


<!--            </div>-->

<!--        </div>-->

<!--    </div>-->
<!--</div>-->
</html>