<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<table class="table table-striped mb-5" th:fragment="table-confirmation-private-details"
       th:object="${privateRegistrationDto}">
    <thead class="thead-dark">
    <tr>
        <th colspan="2" scope="col">Persoonlijke gegevens</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" width="50%">Voorletters</th>
        <td th:text="*{initials}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Voornaam</th>
        <td th:text="*{firstName}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Tussenvoegsel</th>
        <td th:text="*{preposition}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Achternaam</th>
        <td th:text="*{surName}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Geboortedatum</th>
        <td th:text="*{dateOfBirth}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Burgerservicenummer (BSN)</th>
        <td th:text="*{socialSecurityNumber}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Emailadres</th>
        <td th:text="*{email}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Telefoon (mobiel)</th>
        <td th:text="*{phone}"></td>
    </tr>
    </tbody>
</table>

<table class="table table-striped mb-5" th:fragment="table-confirmation-private-address"
       th:object="${privateRegistrationDto}">
    <thead class="thead-dark">
    <tr>
        <th colspan="2" scope="col">Adresgegevens</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" width="50%">Postcode</th>
        <td th:text="*{postalCode}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Huisnummer + toevoeging</th>
        <td th:text="*{homeNumber}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Straat</th>
        <td th:text="*{street}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Woonplaats</th>
        <td th:text="*{residence}"></td>
    </tr>
    </tbody>
</table>

<table class="table table-striped mb-5" th:fragment="table-confirmation-private-account"
       th:object="${privateRegistrationDto}">
    <thead class="thead-dark">
    <tr>
        <th colspan="2" scope="col">Accountgegevens</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" width="50%">Gebruikersnaam</th>
        <td th:text="*{userName}"></td>
    </tr>
    </tbody>
</table>

<table class="table table-striped mb-5" th:fragment="table-confirmation-business-details"
       th:object="${businessRegistrationDto}">
    <thead class="thead-dark">
    <tr>
        <th colspan="2" scope="col">Bedrijfsgegevens</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" width="50%">Bedrijfsnaam</th>
        <td th:text="*{companyName}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Sector</th>
        <td th:text="*{sector.getLabelSector()}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">KvK-nummer</th>
        <td th:text="*{kvkNumber}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Btw-nummer</th>
        <td th:text="*{vatNumber}"></td>
    </tr>
    </tbody>
</table>

<table class="table table-striped mb-5" th:fragment="table-confirmation-business-account"
       th:object="${businessRegistrationDto}">
    <thead class="thead-dark">
    <tr>
        <th colspan="2" scope="col">Accountgegevens</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" width="50%">Gebruikersnaam</th>
        <td th:text="*{userName}"></td>
    </tr>
    </tbody>
</table>

<table class="table table-striped mb-5" th:fragment="table-confirmation-business-address"
       th:object="${businessRegistrationDto}">
    <thead class="thead-dark">
    <tr>
        <th colspan="2" scope="col">Adresgegevens</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" width="50%">Postcode</th>
        <td th:text="*{postalCode}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Huisnummer + toevoeging</th>
        <td th:text="*{homeNumber}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Straat</th>
        <td th:text="*{street}"></td>
    </tr>
    <tr>
        <th scope="row" width="50%">Plaats</th>
        <td th:text="*{residence}"></td>
    </tr>
    </tbody>
</table>

</html>