<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" src="bootstrap.css">
<link rel="stylesheet" src="custom.css">
<head th:replace="fragments/head :: head-default (pageTitle='Transaction Details', metaRobots='noindex, nofollow', metaDescription='', metaKeywords='')"></head>

<body>
<div class="container-fluid min-vh-100" id="page">
    <div id="header" class="row header-default">
        <header th:replace="fragments/header :: header-default"></header>
    </div>

    <div id="main-content" class="row">
        <main role="main" class="min-vw-100">
            <div class="jumbotron mb-sm-n5 h-75"
                 style="filter: brightness(1.25); background: linear-gradient(65deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0) ), url('/images/DROVN5.svg'); background-position: left center; background-repeat: no-repeat; background-size: cover;">
                <div class="container pt-sm-2 pb-sm-2 text-white">
                    <h1><span class="display-5 h-25"><span class="text-blue" th:text="${account.getIban()}">IBAN</span> | <span class="text-orange">Transactieoverzicht</span></span>
                    </h1>
                    <h2 align="right"> <span class="display-5 h-25"><span class="text-orange">Saldo</span> | <span class="text-blue" th:text="${account.getBalance()}">Saldo</span></h2>
                    <p class="mt-5"><a class="btn btn-primary btn-lg" align="right" style="font-size: initial;" href="#"
                                       role="button">Geld overboeken »</a></p>
                </div>
            </div>
<!--            <div class="col-md-3">-->
<!--&lt;!&ndash;                <h2 class="text-orange" align="left" th:text="${account.getIban()}">IBAN</h2>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--                <h2 class="text-blue" align="center">Transactieoverzicht</h2>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <h2 class="text-blue" align="right" th:text="${account.getBalance()}">Saldo</h2>-->
<!--            </div>-->
        </div>
                <p style="font-size: 250%" align="center" th:if="${account.getTransactions().isEmpty()}">Er zijn geen transacties om weer te geven.</p>
                <table style="width: 100%" class="table-striped"
                       th:unless="${account.getTransactions().isEmpty()}"
                       th:object="${account}">
                    <thead class="text-white" bgcolor="#312783">
                    <tr>
                        <th scope="col" style="border-color: #312783; width: 20%">Datum</th>
                        <th scope="col" style="border-color: #312783; width: 60%">Omschrijving</th>
                        <th scope="col" style="border-color: #312783; width: 20%; text-align: left">Bedrag</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="t : ${accountWithTransactionOverview.getTransactions}" >
                        <td  type="datetime" th:text="${t.date}" ></td>
                        <td th:text="${t.description}"></td>
                        <td style="text-align: left" step=".01" th:text="${t.getAmount}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>



    </div>

    </main>
</div>
<!--<p>Nog geen rekening? <a th:href="@{openaccount/{id}(id=${customer.customerId})}">Open deze hier!</a></p>-->
</body>
</html>