<!DOCTYPE html>
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/head :: head-account_details (pageTitle='Bij- en afschrijvingen', metaRobots='noindex, nofollow', metaDescription='', metaKeywords='')"></head>
<body>

<div class="container-fluid min-vh-100" id="page">
    <div class="row header-default" id="header">
        <header th:replace="fragments/header :: header-default"></header>
    </div>
    <div class="row mb-5" id="main-content">
        <main th:replace="fragments/main :: main-mutations"></main>
    </div>
    <div class="row footer-default" id="footer">
        <footer th:replace="fragments/footer :: footer-default"></footer>
    </div>
</div>
</body>

</html>









<!--                    <style>-->
<!--                        th, td {-->
<!--                            padding: 20px;-->
<!--                        }-->
<!--                    </style>-->

<!--                    <table style="width: 100%; "  class="fold-table; container-fluid" data-sort-name="Date" data-sort-order="desc"-->
<!--                           th:unless="${account.getTransactions().isEmpty()}"-->
<!--                           th:object="${account}">-->
<!--                        <thead class="text-white" bgcolor="#312783">-->

<!--                        <tr style="font-size: 150%">-->
<!--                            <th scope="col" style="width: 20%">Datum</th>-->
<!--                            <th scope="col" style="width: 30%">Tenaamstelling</th>-->
<!--                            <th scope="col" style="width: 20%">Tegenrekening</th>-->
<!--                            <th scope="col" style="width: 25%">Omschrijving</th>-->
<!--                            <th scope="col" style="width: 10%; text-align: right">Bedrag</th>-->
<!--                        </tr>-->
<!--                        </thead>-->

<!--                        <tbody>-->
<!--                        <tr style="font-size: 125%" th:each="t : ${account.getTransactions}">-->
<!--                            <td style="color: #312783" th:text="${t.showDate}"></td>-->
<!--                            <td style="color: #312783">-->
                              <!--  <ul class="list-group-horizontal list-inline" style="list-style-type:none; display: table-row">
                                        <li class="list-inline-item" th:each="name : ${t.getContraAccountHolderNames()}" th:text="${name}" > </li>
                                </ul>-->
<!--                            </td>-->
<!--                            <td style="color: #F39200" th:text="${t.showContraAccount}"></td>-->
<!--                            <td style="color: #312783" th:text="${t.description}"></td>-->
<!--                            <td style="text-align: right"><span style="text-align: right; color: #312783" th:text="${t.showAmount}"></span></td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->



