<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<head>
    <meta charset="UTF-8">
    <title>Rekeningoverzicht</title>
</head>
<body>
    <h1>Rekeningoverzicht van:</h1>
    <h2 th:text="${customerWithAccountOverview.getCustomer().getUserName()}">naam</h2>
    <p th:if="${customerWithAccountOverview.getAccountList().isEmpty()}">Er zijn geen rekeningen om weer te geven</p>

    <table class="table table-bordered"
            th:unless="${customerWithAccountOverview.getAccountList().isEmpty()}"
            th:object="${customerWithAccountOverview}">
        <thead class="thead-light">
        <tr>
            <th scope="col">IBAN</th>
            <th scope="col">Tenaamstelling</th>
            <th scope="col">Saldo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${customerWithAccountOverview.getAccountList()}">
            <td>
                <a th:href="@{/account_details/{id}(id= ${a.getAccountID})}" >
                    <span th:text="${a.iban}"></span>
                </a>
            </td>
            <td> <ul> <li th:each="customerName : ${a.getAccountHolderNames()}" th:text="${customerName}"></li></ul></td>
            <td th:text="${a.balance}"></td>
        </tr>
        </tbody>
    </table>

    <p>Nog geen rekening? <a href="/rekeningOpenen">Open deze hier!</a></p>
</body>
</html>