<!DOCTYPE html>
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head-registration (pageTitle='Bevestiging Registratie - Particulier', metaRobots='noindex, nofollow', metaDescription='', metaKeywords='')"></head>
<body>
<div class="container-fluid min-vh-100" id="page">
    <div class="row header-default" id="header">
        <header th:replace="fragments/header :: header-home"></header>
    </div>
    <div class="row mb-5" id="main-content">
        <main class="min-vw-100" role="main">
            <div class="jumbotron mb-5"
                 style="filter: brightness(1.25); background: linear-gradient(65deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0) ), url('/images/klant-worden.jpg'); background-position: left 70%; background-repeat: no-repeat; background-size: cover;">
                <div class="container text-white">
                    <h1>Controleer je gegevens</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="alert alert-success d-flex flex-row align-items-center" role="alert">
                            <i class="fas fa-info-circle" style="font-size: 2.5rem; padding-right: 20px;"></i>
                            <span>We hebben de volgende gegevens van je ontvangen. Controleer je gegevens en gebruik de knop
                            'registratie voltooien' om deze te bevestigen, of gebruik het formulier hieronder om eventuele fouten
                                te herstellen. Het wachtwoord wordt om veiligheidsredenen niet getoond.</span>
                        </div>
                    </div>
                    <div class="col-md-6 table-responsive-md">
                        <table class="table table-striped mb-5" th:object="${privateRegistrationDto}">
                            <thead class="thead-dark">
                            <tr>
                                <th colspan="2" scope="col">Persoonlijke gegevens</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row" width="50%">Voorletters</th>
                                <td th:text="*{initials}"></td>
                            </tr>
                            <tr>
                                <th scope="row" width="50%">Voornaam</th>
                                <td th:text="*{firstName}"></td>
                            </tr>
                            <tr>
                                <th scope="row" width="50%">Tussenvoegsel</th>
                                <td th:text="*{preposition}"></td>
                            </tr>
                            <tr>
                                <th scope="row" width="50%">Achternaam</th>
                                <td th:text="*{surName}"></td>
                            </tr>
                            <tr>
                                <th scope="row" width="50%">Geboortedatum</th>
                                <td th:text="*{dateOfBirth}"></td>
                            </tr>
                            <tr>
                                <th scope="row" width="50%">Burgerservicenummer (BSN)</th>
                                <td th:text="*{socialSecurityNumber}"></td>
                            </tr>
                            <tr>
                                <th scope="row" width="50%">Emailadres</th>
                                <td th:text="*{email}"></td>
                            </tr>
                            <tr>
                                <th scope="row" width="50%">Telefoon (mobiel)</th>
                                <td th:text="*{phone}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 table-responsive-md">
                        <table class="table table-striped mb-5" th:object="${privateRegistrationDto}">
                            <thead class="thead-dark">
                            <tr>
                                <th colspan="2" scope="col">Adresgegevens</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row" width="50%">Postcode</th>
                                <td th:text="*{postalCode}"></td>
                            </tr>
                            <tr>
                                <th scope="row" width="50%">Huisnummer + toevoeging</th>
                                <td th:text="*{homeNumber}"></td>
                            </tr>
                            <tr>
                                <th scope="row" width="50%">Straat</th>
                                <td th:text="*{street}"></td>
                            </tr>
                            <tr>
                                <th scope="row" width="50%">Woonplaats</th>
                                <td th:text="*{residence}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped mb-5" th:object="${privateRegistrationDto}">
                            <thead class="thead-dark">
                            <tr>
                                <th colspan="2" scope="col">Accountgegevens</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row" width="50%">Gebruikersnaam</th>
                                <td th:text="*{userName}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <form th:replace="fragments/form :: form-confirmation-private-hidden"></form>
                    </div>
                </div>
                <div class="pt-5 pb-5" id="accordion">
                    <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion"
                         id="collapseOne">
                        <form th:replace="fragments/form :: form-registration-private"></form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="row footer-default" id="footer">
        <footer th:replace="fragments/footer :: footer-default"></footer>
    </div>
</div> <!-- /container - #page -->
<!-- TODO: implement
<div class="modal" id="modalVerificationError" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
-->
<div th:replace="fragments/scripts :: scripts-before-closing-tag"></div>
</body>
</html>