<!DOCTYPE html>
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head-registration (pageTitle='Bevestiging Registratie - Particulier', metaRobots='noindex, nofollow', metaDescription='', metaKeywords='')"></head>
<body>
<div class="container-fluid min-vh-100" id="page">
    <div class="row header-default" id="header">
        <header th:replace="fragments/header :: header-home"></header>
    </div>
    <div class="row mb-5" id="main-content" th:if="${hasErrors == 'false'}">
        <main th:replace="fragments/main :: main-confirmation-private-no-errors"></main>
    </div>
    <div class="row mb-5" id="main-content" th:if="${hasErrors == 'true'}">
        <main th:replace="fragments/main :: main-confirmation-private-with-errors"></main>
    </div>
    <div class="row footer-default" id="footer">
        <footer th:replace="fragments/footer :: footer-default"></footer>
    </div>
</div> <!-- /container - #page -->
<!-- TODO: implement
<div th:replace="fragments/modal :: modal-registration-error"></div>
-->
<div th:replace="fragments/scripts :: scripts-before-closing-tag"></div>
</body>
</html>