<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Geld overmaken</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h1>Geld overmaken naar een andere rekening</h1>
    <form action="#" method="post" th:action="@{/do-transaction/}" th:object="${transactionDTO}">

        <div class="col-md-6 form-group">
            <label for="rekening">Rekening</label>
            <select class="form-control" id="rekening" name="debitAccount"
                    th:required="true">
                <option value="">Selecteer uw rekening</option>
                <option th:each="account : ${customerWithAccountOverview.getAccountList()}"
                        th:text="${account.iban + ' € ' + account.balance}" th:value="${account.iban}">
            </select>
            <div class="invalid-feedback"></div>
        </div>

        <div class="col-md-6 form-group">
        <label>Op naam van: (dit moet worden ingeladen obv de rekening die geselecteerd is)</label>
            <span th:each="account : ${customerWithAccountOverview.getAccountList()}">
            <ul>
                <li th:each="customerName : ${account.getAccountHolderNames()}" th:text="${customerName}"></li>
            </ul>
                </span>
            <input type="hidden" class="form-control" name="nameDebitCustomer" th:value="${nameCurrentCus}">
        </div>

        <div class="col-md-6 form-group">
        <i class="fa fa-user icon"></i>
        <label>Bedrag</label>
            <input type="text" class="form-control" name="amount" required>
    </div>

    <div class="col-md-6 form-group">
        <i class="fa fa-key icon"></i>
        <label>Naam ontvanger</label>
        <input type="text" class="form-control" name="nameCreditCustomer" required>
    </div>
        <div class="col-md-6 form-group">
            <i class="fa fa-key icon"></i>
            <label>IBAN</label>
            <input type="text" class="form-control" name="creditAccount" required>
        </div>
        <div class="col-md-6 form-group">
            <i class="fa fa-key icon"></i>
            <label>Omschrijving</label>
            <input type="text" class="form-control" name="description" required>
        </div>
        <div class="col-md-6 form-group">
            <i class="fa fa-key icon"></i>
            <label>Wanneer</label>
            <input type="text" class="form-control" name="date" required>
        </div>
    <div class="col-md-4">
        <input type="submit" class="btn btn-primary" value="Verder">
    </div>
    </form>
    <form action="#" method="get" th:action="@{/customer-with-accounts}">
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="Terug">
        </div>
    </form>
</body>
</html>