<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Dashboard Private</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<style>
#uitloggen {
position:absolute;
top:0;
right:0;
margin-right:-800px;
}
</style>

<h1>Welkom, <span th:text="${employee.firstName}"></span></h1>
<br>

<div class="col-md-4">
    <a id="uitloggen" th:href="@{/loginemployee}" class="btn btn-primary" type="submit">Uitloggen</a>
</div>

<div class="container my-2">
    <h3>10 klanten met hoogste saldo</h3>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Klant</th>
            <th>Iban</th>
            <th>Saldo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="np : ${npWithHighestBalance}">
            <td th:text="${np.getFullName()}"></td>
            <td th:text="${np.iban}"></td>
            <td th:text="${np.balance}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>