<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<head>
    <meta charset="UTF-8">
    <title>Dit is de Homepage</title>
</head>
<body>

<div class="container text-center">
    <div>
        <h1>Welkom bij DROVN Bank</h1>
    </div>
    <div>
        <h3><a href="/registreerParticulier">Registreer je als particuliere klant</a></h3>
    </div>
    <div>
        <h3><a href="/registreerZakelijk">Registreer je als zakelijke klant</a></h3>
    </div>
</div>

</body>
</html>