<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inloggen</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>

    <div class="container-my-3">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1>Log hier in</h1>
                <form action="#" th:action="@{/login}" th:object="${customerWithAccountOverview}" method="post">
                    <!--if (customer == employee) ${employeeDashboard} method="post"-->

                    <div class="col-md-6 form-group">
                        <i class="fa fa-user icon"></i>
                        <label>Gebruikersnaam</label>
                        <input type="text" class="form-control" name="userName" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <i class="fa fa-key icon"></i>
                        <label>Wachtwoord</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary" value="Inloggen">
                    </div>
                </form>
                <div class="col-md-4 mx-lg-0"> <br/>
                    <a th:href="@{/}">Ga terug naar home</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


