<!DOCTYPE html>
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head :: head-openAccount (pageTitle='Rekening Openen', metaRobots='noindex, nofollow', metaDescription='', metaKeywords='')"></head>
<body>
<div class="jumbotron jumbotron-fluid"
     style="filter: brightness(1.25); background: linear-gradient(65deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0) ), url('/images/DROVN5.svg'); background-position: left center; background-repeat: no-repeat; background-size: cover; width: 100%; max-height: 60%">
    <div id="header" class="row header-default">
        <header th:replace="fragments/header :: head-openAccount"></header>
    </div>
        <div class="mainContainer" align="center">
                <div class="container pt-sm-2 pb-sm-2 text-white">
                    <div class="container">
                        <h1><span class="text-orange">Fijn dat u een rekening bij ons wilt openen.</span></h1>
                        <h3> U kunt direct uw nieuwe rekening bevestigen.</h3>

                        <h2 align="center"><span class="text-orange"> Rekeninghouder: </span><span
                                style="color: #0066ff" th:text="${nameCurrentCus}"></span></h2>
                        <p><br></p>
                        <form action="/saveaccount" method="post" name="ibanForm"> <!--class="needs-validation"!-->
                            <input type="text" th:field="*{customer.customerID}" value="customer.customerID" hidden/>

                            <div class="form-group w-25">
                                <label for="ibanGenerator">Uw nieuwe rekeningnummer: </label>
                                <input type="text" th:field="*{account.iban}" id="ibanGenerator"
                                       placeholder="IBAN" readonly required/>
                            </div>
                            <div class="form-group w-25">
                                <label for="balance">Uw huidige saldo:</label>
                                <input type="text" th:field="*{account.balance}" id="balance" class="form-control"
                                       placeholder="Saldo" readonly/>
                            </div>
                            <div class="form-group form-check">
                                <p>
                                    <a href="https://www.termsandconditionsgenerator.com/live.php?token=WMGxy8SYoQkOH2QDFKuWdAqUeZ9mgMuS"
                                       data-toggle="modal" data-target="#termsConditions">Algemene voorwaarden</a>
                                </p>
                                <input type="checkbox" id="terms" required> Ik heb de algemene voorwaarden gelezen en ik
                                ga
                                hiermee akkoord
                                <div class="button-group">
                                    <button type="submit" id="submit" class="btn btn-primary" data-toggle="modal"
                                            data-target="#confirmationNewAccount">Bevestigen
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
        </div>
    </div>
<div class="row footer-default" id="footer">
    <footer th:replace="fragments/footer :: footer-default"></footer>
</div>
<div th:replace="fragments/modal :: modal-confirmationNewAccount"></div>
<div th:replace="fragments/modal :: modal-termsConditions"></div>
</body>
</html>