<!DOCTYPE html>
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head-default (pageTitle='Home', metaRobots='noindex, nofollow', metaDescription='', metaKeywords='')"></head>
<body>
<div class="container-fluid min-vh-100" id="page">
    <div class="row header-default" id="header">
        <header th:replace="fragments/header :: header-default"></header>
    </div>
    <div class="row mb-5" id="main-content">
        <main class="min-vw-100" role="main">
            <div class="jumbotron mb-5"
                 style="filter: brightness(1.25); background: linear-gradient(65deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0) ), url('/images/klant-worden.jpg'); background-position: left 70%; background-repeat: no-repeat; background-size: cover;">
                <div class="container text-white">
                    <h1>Klant worden</h1>
                </div>
            </div>
            <div class="container pt-5">
                <div class="row">
                    <div class="col-md-12">
                        <button aria-controls="collapseOne" aria-expanded="true"
                                class="btn btn-outline-primary rounded-3 pt-3 pb-3 pl-5 pr-5 active"
                                data-target="#collapseOne" data-toggle="collapse"
                                id="private">
                            Particuliere Klant
                        </button>
                        <button aria-controls="collapseTwo" aria-expanded="false"
                                class="btn btn-outline-primary rounded-3 pt-3 pb-3 pl-5 pr-5 collapsed"
                                data-target="#collapseTwo" data-toggle="collapse"
                                id="legal">
                            Zakelijke Klant
                        </button>
                        <div class="pt-5 pb-5" id="accordion">

                            <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion"
                                 id="collapseOne">
                                <form action="#" class="row needs-validation" method="post" novalidate
                                      th:action="@{/registratie-particulier}" th:object="${privateRegistrationDto}">
                                    <div class="col-md-12 mt-2 mb-3">
                                        <h4 class="border border-dark border-w-2 rounded p-3">Persoonlijke gegevens</h4>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="initials">Voorletters</label>
                                        <input class="form-control" id="initials" name="initials" required
                                               th:field="*{initials}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="firstname">Voornaam</label>
                                        <input class="form-control" id="firstname" name="firstName" required
                                               th:field="*{firstName}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="preposition">Tussenvoegsel</label>
                                        <input class="form-control" id="preposition" name="preposition"
                                               th:field="*{preposition}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="lastname">Achternaam</label>
                                        <input class="form-control" id="lastname" name="surName" required
                                               th:field="*{surName}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="dateOfBirth">Geboortedatum</label>
                                        <input class="form-control" id="dateOfBirth" name="dateOfBirth" required
                                               aria-describedby="dateOfBirthHelp" th:field="*{dateOfBirth}"
                                               type="date"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                        <small class="form-text text-muted" id="dateOfBirthHelp">Format:
                                            jjjj-mm-dd</small>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="socialSecurityNumber">Burgerservicenummer (BSN)</label>
                                        <input aria-describedby="socialSecurityNumberHelp" class="form-control"
                                               id="socialSecurityNumber" name="socialSecurityNumber" required
                                               th:field="*{socialSecurityNumber}" type="number"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                        <small class="form-text text-muted" id="socialSecurityNumberHelp">Je unieke,
                                            9-cijferige persoonsnummer</small>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="email">Emailadres</label>
                                        <input class="form-control" id="email" name="email" required
                                               th:field="*{email}" type="email"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="mobile">Telefoon (mobiel)</label>
                                        <input aria-describedby="mobileHelp" class="form-control" id="mobile"
                                               name="mobile" pattern="[0-9]{10}" required
                                               th:field="*{phone}" type="tel"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                        <small class="form-text text-muted" id="mobileHelp">Format: 0612345678</small>
                                    </div>
                                    <div class="col-md-12 mt-5 mb-3">
                                        <h4 class="border border-dark border-w-2 rounded p-3">Adresgegevens</h4>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="postalCode">Postcode</label>
                                        <input aria-describedby="postalCodeHelp" class="form-control" id="postalCode"
                                               name="postalCode"
                                               required
                                               th:field="*{postalCode}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                        <small class="form-text text-muted" id="postalCodeHelp">Format: 1234AB</small>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="homeNumber">Huisnr.</label>
                                        <input aria-describedby="homeNumberHelp" class="form-control" id="homeNumber"
                                               name="homeNumber"
                                               required th:field="*{homeNumber}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                        <small class="form-text text-muted" id="homeNumberHelp">Format: 123, 12b,
                                            123-I</small>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="street">Straat</label>
                                        <input class="form-control" id="street" name="street" required
                                               th:field="*{street}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="residence">Woonplaats</label>
                                        <input class="form-control" id="residence" name="residence" required
                                               th:field="*{residence}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-5 mb-3">
                                        <h4 class="border border-dark border-w-2 rounded p-3">Accountgegevens</h4>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="username_private">Gebruikersnaam</label>
                                        <input class="form-control" id="username_private" name="username_private"
                                               required th:field="*{userName}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="password_private">Wachtwoord</label>
                                        <input class="form-control" id="password_private" name="password_private"
                                               required th:field="*{password}" type="password"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="password_private_confirmation">Bevestig wachtwoord</label>
                                        <input class="form-control" id="password_private_confirmation"
                                               name="password_private_confirmation"
                                               required th:field="*{passwordConfirmation}" type="password"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <div class="col-md-4 pl-0">
                                            <input class="btn btn-primary btn-lg btn-block mt-4 mb-4 pt-3 pb-3"
                                                   type="submit"
                                                   value="Bevestigen"/>
                                            <div class="invalid-feedback">
                                                Hier custom error-message
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion"
                                 id="collapseTwo">
                                <form action="#" class="row needs-validation" method="post" novalidate
                                      th:action="@{/registratie-zakelijk}" th:object="${businessRegistrationDto}">
                                    <div class="col-md-12 mt-2 mb-3">
                                        <h4 class="border border-dark border-w-2 rounded p-3">Bedrijfsgegevens</h4>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="companyName">Bedrijfsnaam</label>
                                        <input class="form-control" id="companyName" name="companyName" required
                                               th:field="*{companyName}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="kvkNumber">KvK-nummer</label>
                                        <input class="form-control" id="kvkNumber" name="kvkNumber" required
                                               th:field="*{kvkNumber}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="vatNumber">Btw-nummer</label>
                                        <input class="form-control" id="vatNumber" name="vatNumber" required
                                               th:field="*{vatNumber}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-5 mb-3">
                                        <h4 class="border border-dark border-w-2 rounded p-3">Adresgegevens</h4>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="postalCode_legal">Postcode</label>
                                        <input aria-describedby="postalCode_legalHelp" class="form-control"
                                               id="postalCode_legal"
                                               name="postalCode_legal" required
                                               th:field="*{postalCode}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                        <small class="form-text text-muted" id="postalCode_legalHelp">Format:
                                            1234AB</small>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="homeNumber_legal">Huisnr.</label>
                                        <input aria-describedby="homeNumber_legalHelp" class="form-control"
                                               id="homeNumber_legal"
                                               name="homeNumber_legal" required
                                               th:field="*{homeNumber}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                        <small class="form-text text-muted" id="homeNumber_legalHelp">Format: 123, 12b,
                                            123-I</small>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="street_legal">Straat</label>
                                        <input class="form-control" id="street_legal" name="street_legal" required
                                               th:field="*{street}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="residence_legal">Plaats</label>
                                        <input class="form-control" id="residence_legal" name="residence_legal"
                                               required th:field="*{residence}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-5 mb-3">
                                        <h4 class="border border-dark border-w-2 rounded p-3">Accountgegevens</h4>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="username_legal">Gebruikersnaam</label>
                                        <input class="form-control" id="username_legal" name="username_legal"
                                               required th:field="*{userName}" type="text"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="password_legal">Wachtwoord</label>
                                        <input class="form-control" id="password_legal" name="password_legal"
                                               required th:field="*{password}" type="password"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="password_legal_confirmation">Bevestig wachtwoord</label>
                                        <input class="form-control" id="password_legal_confirmation"
                                               name="password_legal_confirmation"
                                               required th:field="*{passwordConfirmation}" type="password"/>
                                        <div class="invalid-feedback">
                                            Hier custom error-message
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <div class="col-md-4 pl-0">
                                            <input class="btn btn-primary btn-lg btn-block mt-4 mb-4 pt-3 pb-3"
                                                   type="submit"
                                                   value="Bevestigen"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="row footer-default" id="footer">
        <footer th:replace="fragments/footer :: footer-default"></footer>
    </div>
</div> <!-- /container - #page -->
<div th:replace="fragments/scripts :: scripts-before-closing-tag"></div>
<script>
    const $buttonPrivate = $("#private");
    const $buttonLegal = $("#legal");

    $buttonLegal.on('click', function (event) {
        event.preventDefault();
        $(this).toggleClass('active');
        $buttonPrivate.toggleClass('active');
    });
    $buttonPrivate.on('click', function (event) {
        event.preventDefault();
        $(this).toggleClass('active');
        $buttonLegal.toggleClass('active');
    });
</script>
<script>
    // Script for custom form-validation
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all forms for custom validation
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over the forms and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>