<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rekeningoverzicht</title>
</head>
<body>
    <h1>Rekeningoverzicht</h1>
    <p th:if="${allAccountsList.isEmpty()}">Er zijn geen rekeningen om weer te geven</p>
    <table th:unless="${allAccountsList.isEmpty()}">
        <tr>
            <th>rekeningnummer</th>
            <th>tenaamstelling</th>
            <th>saldo</th>
        </tr>

    </table>
    <p>Nog geen klant? <a href="/nieuwe-klant">Registreer dan hier</a></p>
</body>
</html>