<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <h1>Login</h1>
    <form action="login" method="post">
        <table>
            <tr>
                <td><label>Gebruikersnaam</label></td>
                <td><input type="text" name="gebruikersnaam"></td>
            </tr>
            <tr>
                <td><label>Wachtwoord</label></td>
                <td><input type="text" name="wachtwoord"></td>
            </tr>
            <tr>
                <td><input type="submit" name="OK" value="OK"></td>
            </tr>
        </table>
    </form>

</body>
</html>