@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

/*
$white: #fff;
$gray-100: #eceff4;
$gray-200: #e5e9f0;
$gray-300: #e5e9f0;
$gray-400: #d8dee9;
$gray-500: #d8dee9;
$gray-600: #4c566a;
$gray-700: #434c5e;
$gray-800: #3b4252;
$gray-900: #2e3440;

$blue: #88c0d0;
$indigo: #81a1c1;
$purple: #5e81ac;
$pink: #bf616a;
$red: #bf616a;
$orange: #d08770;
$yellow: #ebcb8b;
$green: #a3be8c;
$teal: #88c0d0;
$cyan: #88c0d0;

$secondary: $gray-600;

$text-muted: $gray-400;
 */

$white: #fff;

$light: $white;

$font-family-sans-serif: 'PT Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

@import "../../../../node_modules/bootstrap/scss/bootstrap";

.text-blue {
  color: #312783;
}

.text-orange {
  color: #F39200;
}

.border-w-2 {
  border-width: 2px !important;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: hsla(35,100,95,0.2);
}

.menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.menu li {
  display: inline-block;
  list-style: none;
}

.menu li:not(:last-of-type) {
  margin: 0 5px;
}

.menu li:last-of-type {
  margin-left: auto;
}